.FlightSelectContainer {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh
}

.TripSelectContainer {
    width: 100%;
}

.TripCardContainer {
    width: 100%;
}

.FlightSelectContainer button {
    width: 20vw;
    font-weight: bold;
}

.TripSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.TripCardContainer {
    display: flex;
    flex-direction: column;  /* aligns child cards veritcally */
    gap: 2vh;  /* spacing between cards */
}

.TripsToSelect .TripCard:hover, .FlightSelectFilterButton:hover {
    outline: 1px solid black;
    background-color: lightcoral;
    cursor: pointer;
}

.SelectedTrips .TripCard {
    outline: 3px solid black;
}
