.FlightSearch {
    display: flex;
    padding: 2vw;
    justify-content: start;
    flex-direction: column;
    height: 22vh;
    margin-left: 8%;
    margin-right: 8%;
}

.FlightSearchUpperFilters {
  display: flex;
  gap: 1vw;
}

.FlightSearchLowerFilters {
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.FlightSearch button {
    width: 15%;
    height: 55%;
    border-radius: 10px;
    align-self: center;
}
  
.FlightSearch button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

.FlightAirportSelect {
  width: 100%;
}