.FlightDateSelect {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
}

.FlightDateSelect label {
    font-weight: bold;
    height: 35%;
}

.FlightDateSelect input {
    height: 100%;
}

input:hover {
    cursor: pointer;
}

.TimeRangeSelect {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    font-weight: bold;
    align-items: center;
    width: 100%;
}

