.FlightCard {
    margin-top: 1vh;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 2vh;
    display: flex;
    justify-content: left;
    vertical-align: middle;
    border-radius: 8px;
    align-items: center;
    gap: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    background-color: white;
}

.FlightCard:hover {
    outline: 1px solid black;
    background-color: lightcoral;
    cursor: pointer;
}
