button {
    background-image: linear-gradient(-180deg, lightcoral 0%, rgb(165, 42, 42) 100%);
    color: #FFFFFF;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}