<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/api/flight/submitForm}" th:object="${flightForm}" method="post">
        Depart Airport: <input type="text" th:field="*{departAirport}" /><br>
        Arrive Airport: <input type="text" th:field="*{arriveAirport}" /><br>
        Depart Date: <input type="date" th:field="*{departDate}" /><br>
        Arrive Date: <input type="date" th:field="*{arriveDate}" /><br>
        Depart Start Window: <input type="time" th:field="*{departStartWindow}" /><br>
        Depart End Window: <input type="time" th:field="*{departEndWindow}" /><br>
        Arrive Start Window: <input type="time" th:field="*{arriveStartWindow}" /><br>
        Arrive End Window: <input type="time" th:field="*{arriveEndWindow}" /><br>
        Class Seat:
        <select th:field="*{classSeat}">
            <option value="Economy">Economy</option>
            <option value="First Class">First Class</option>
        </select>
        Round trip: <input type="checkbox" value="false" th:field="*{roundTrip}" /><br>
        Number of connections:
        <select th:field="*{connectionNumber}">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="All">All</option>
        </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>